<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Monthly Summary</title>
</head>
<body>
<h1>SUMMARY</h1>
<p>Accommodation: [[${accommodationName}]]</p>
<p>Period: [[${startDate}]] - [[${endDate}]]</p>
<p><strong>Reservations by Month:</strong></p>
<ul>
    <li th:each="monthlyData : ${reservationsData}">
        <span th:text="${monthlyData.key}"></span>:
        <span th:text="${monthlyData.value}"></span>
    </li>
</ul>
<p><strong>Profit by Month:</strong></p>
<ul>
    <li th:each="monthlyData : ${profitData}">
        <span th:text="${monthlyData.key}"></span>:
        <span th:text="${monthlyData.value}"></span>€
    </li>
</ul>
</body>
</html>